<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1">
    <title>Restaurant food website</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    
    <!--------Nav Bar--------->

    <nav>
      <div class="container nav-container">  
        <a href="" class="logo">MMU</a>
        <ul class="nav-links">
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('search') }}">Search</a></li>
          <li><a href="{{ url_for('profile') }}">Profile</a></li>
          <li><a href="{{ url_for('favourites') }}">Log out</a></li>
        </ul>
      </div>
              <div class="container header-container">
            <div class="app-logo">
                <img src="./static/food.stall.png" alt="">
        </div>
    </nav>
    <!--------End Nav Bar--------->

    <!-------search bar section--------->
    <header>
        <div class="search-box">
            <span class="icon">🔍</span>
            <input type="text" placeholder="Search">
        </div>
     <!-------filter section--------->
        <div class="filters">
            <button>Range</button>
            <button>Category</button>
            <button>Rating</button>
        </div>
    </header>

   
    <!-------end header section--------->

</body>
</html>